<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Test Suite">
	<test name = "amazon">
		<classes>
			<class name = "com.selenium.tests.AppTest" />
			<class name = "com.selenium.tests.TestCaseSelenium" />
			<class name = "com.selenium.tests.TestCaseSeleniumPOM" />
			<class name = "com.selenium.tests.TestCaseSeleniumPageFactory" />
			<class name = "com.restassured.tests.TestCaseRestAssured" />
		</classes>
	</test>
</suite>